-var titulo = "Titulo principal"
-var titulos = ["Titulo principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "Julio"
mixin  caja(imagen, titulo, contenido)
    .caja
        .caja__imagen: img(src="images/"+imagen, alt="alt")
        .caja__contenido
            h3=titulo
            p=contenido
            a.boton Leer más


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
        title Document
    body
        header 
            h1 #{titulos[0]}
            if usuario 
                a Hola #{usuario}
            else 
                a(href="").boton Registro
        section.intro
            .intro__imagen: img(src="images/imagen.png", alt="alt")
            .intro__contenido
                h2 Titulo Principal
                p
                 | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, | consequuntur? Necessitatibus, odio ea nam eaque reprehenderit facilis, dolores | at quisquam voluptatum tempore recusandae, aut commodi maxime corporis | beatae officia cupiditate.
                 span Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus velit nobis excepturi architecto blanditiis harum necessitatibus ratione suscipit culpa et.
                 
                a(href="").boton Leer más
        main.contenido
            +caja('imagen.png', titulos[1], 'Lorem ipsum, dolor sit amet consectetur adipisicing.')
            +caja('imagen.png', titulos[2], 'Lorem ipsum, dolor sit amet consectetur adipisicing.')
            +caja('imagen.png', titulos[3], 'Lorem ipsum, dolor sit amet consectetur adipisicing.')