extend components/plantilla.pug
block contenidos
        section.intro
            .intro__imagen: img(src="images/imagen.png", alt="alt")
            .intro__contenido
                h2 Titulo Principal
                p
                 | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, | consequuntur? Necessitatibus, odio ea nam eaque reprehenderit facilis, dolores | at quisquam voluptatum tempore recusandae, aut commodi maxime corporis | beatae officia cupiditate.
                 span Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus velit nobis excepturi architecto blanditiis harum necessitatibus ratione suscipit culpa et.
                 
                a(href="").boton Leer más
        main.contenido
            +caja('imagen.png', titulos[1], 'Lorem ipsum, dolor sit amet consectetur adipisicing.')
            +caja('imagen.png', titulos[2], 'Lorem ipsum, dolor sit amet consectetur adipisicing.')
            +caja('imagen.png', titulos[3], 'Lorem ipsum, dolor sit amet consectetur adipisicing.')